body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




button#yellow-button:hover {background-color: rgb(223, 223, 30)}

button#yellow-button:active {
  background-color: rgb(233, 233, 38);
  transform: translateY(4px);
}



button#yellow-button {
  background-color: yellow;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 280px;
  height: 300px;
  border: none;
  border-radius: 15px;
  position:relative; left:220px; top:100px;

}
button#red-button:hover {background-color: rgb(169, 2, 2)}

button#red-button:active {
  background-color: rgb(210, 4, 4);
  transform: translateY(4px);
}

button#red-button {
  background-color: red;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 280px;
  height: 300px;
  border: none;
  border-radius: 15px;
  position:relative; right :220px; top:100px;

}

button#blue-button:hover {background-color: rgb(1, 1, 186)}

button#blue-button:active {
  background-color: rgb(3, 3, 150);
  transform: translateY(4px);
}

button#blue-button {
  background-color: blue;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 280px;
  height: 300px;
  border: none;
  border-radius: 15px;
  position:relative; left :220px; top:400px;


}

button#green-button:hover {background-color: rgb(4, 103, 4)}

button#green-button:active {
  background-color: rgb(1, 106, 1);
  transform: translateY(2px);
}

button#green-button {
  background-color: palegreen;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 280px;
  height: 300px;
  border: none;
  border-radius: 15px;
  position:relative; right :220px; top:400px;


}

button#pink-button {
  background-color: pink;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 280px;
  height: 300px;
  border: none;
  border-radius: 15px;
  position:relative; left:300px; top:100px;

}
footer {
  position:relative; right :200px; top:800px;

}

h1#middle-title {

  font-size: 60px;

  position: relative; right: -350px; top: -500px;
  font-family: 'Permanent Marker', cursive;
}

